*.pyc
__pycache__/
.env
.env.enc
*.egg-info/
dist/
build/
.venv/
venv/
*.db
db.sqlite3
staticfiles/
media/
deploy/terraform/terraform.tfvars
deploy/terraform/.terraform/
deploy/terraform/.terraform.lock.hcl
